.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header_logo {
  height: 25px;
  margin-left: 20px;
}

.header_input {
  display: flex;
  align-items: center;
  width: 40%;
  border: solid 1px black;
}

.header_inputButton {
  width: 50px !important;
  background-color: #fafafa;
  color: gray;
  border-left: 1px solid lightgray;
}

.header_icons {
  display: flex;
  align-items: center;
}

.header_input input {
  flex: 1;
  border: none;
}